@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
	background-color: #fff;
	color: #000;
	font-family: "Nanum Pen Script", cursive;
	font-family: "Gloria Hallelujah", cursive;
}

h1 {
	display: inline-block;
	padding: 5px 20px;
	background-color: #442f26;
	color: #fff;
}

h1,
h2,
h3 {
	font-family: "Nanum Pen Script", cursive;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-weight: bold;
	color: #db0038;
}

main {
	height: 65vh;
}

.img-holder ,
.content-holder {
	height: initial;
}

.img-holder img {
	border: 1px solid #ccc;
	box-shadow: -1px 5px 20px rgba(0,0,0,0.3);
}

.showcase {
	height: calc(100% - 66px);
}

footer a {
	color: #000;
}