.style-options {
	animation: style-icon-drop 8s forwards;
}


/* Slowly drop the style buttons (as if they were ballons filled with a slightly heavy matter)*/
/*Have them bounce a couple of times when they hit the ground*/
/*Drop each button icon at slightly different times (delays) */
@keyframes style-icon-drop {
	0% {
		top: 0;
	}

	100% {
		top: 90%;
		bottom: 10px;
	}
}